<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="container">
    <h1>Today</h1>

    <ul>
      <li>
        <input type="checkbox" />
        Hoover my room
      </li>
      <li>
        <input type="checkbox" />
        Hoover the bathroom
      </li>
      <li>
        <input type="checkbox" />
        Mop the bathroom
      </li>
    </ul>
  </body>
</html>
