<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <script type="text/javascript" src="assets/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Today (Login)</title>
  </head>

  <body class="container">
    <h1>Login</h1>

    <form action="/login" method="post">
      <input type="email" id="email-address" name="email_address" />
      <input type="password" id="password" name="raw_password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
